
<%- include("../includes/head.ejs") %>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />
  </head>

  <body>
    <%- include("../includes/navigation.ejs") %>

    <main>

      <div class="container has-text-centered mt-5">
        <div class="column is-4 is-offset-4">
            <h3 class="title has-text-black">Iniciar sesión</h3>

            <div class="box">
                <% if (errorMessage) { %>
                  <div class="notification is-warning m-auto"  id="alerta">
                    <button class="delete" onclick="this.parentElement.style.display='none'" ></button>
                    <%= errorMessage %>
                  </div>
                  
                  
                    <% } %>
   
                <form action="/login" method="POST" novalidate>
                    <div class="field">
                        <div class="control">
                          <input
                              type="email"
                              class="<%=  validationErrors.find(e => e.param === 'email') ? 'input  is-danger has-background-danger' : 'input ' %>"
                              id="email"
                              name="email"
                              placeholder="Correo electrónico"
                              value="<%= oldInput.email %>"
                          />
                        </div>
                      </div>
                        
                      <div class="field">
                        <div class="control">  
                                  <input
                                  class="<%=  validationErrors.find(e => e.param === 'password') ? 'input  is-danger has-background-danger' : 'input ' %>"
                                    type="password"
                                    name="password"
                                    id="password"
                                    placeholder="Contraseña"
                                    value="<%= oldInput.password %>"
                                  />
                        </div>
                      </div>
                        
                         
                      <div class="field">
                        <div class="control">  
                            <p class="my-2 justify-content-end">
                              ¿Olvido su contraseña?
                             
                                <a href="/pwdReset"> Recuperar contraseña</a>
                            
                            </p>
                        </div>
                      </div>
                 
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button
                            type="submit"
                             class="button is-block is-primary is-large is-fullwidth"
                          >
                            Ingresar
                          </button>
                  
                          <div class="field">
                            <div class="control">  
                              <p class="my-2">
                                ¿Nuevo cliente?
                                <a href="/register">
                                   Crear cuenta
                                </a>
                              </p>
                            </div>
                          </div>
                    </form>      
                  </div>
                </div>
              </div>
    </main>

   
<%- include('../includes/end.ejs') %>

