
<%- include("../includes/head.ejs") %>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />
  </head>

  <body>
    <%- include("../includes/navigation.ejs") %>

    <main>

      <div class="container has-text-centered mt-5">
        <div class="column is-4 is-offset-4">
            <h3 class="title has-text-black">Actualizar Contraseña</h3>

            <div class="box">
                <% if (errorMessage) { %>
                  <div class="notification is-warning m-auto"  id="alerta">
                    <button class="delete" onclick="this.parentElement.style.display='none'" ></button>
                    <%= errorMessage %>
                  </div>
                  
                  
                    <% } %>
   
                <form action="/new-password" method="POST">
                 
                        
                      <div class="field">
                        <div class="control">  
                                  <input
                                    class="input"
                                    type="password"
                                    name="password"
                                    id="password"
                                    placeholder="Contraseña"
                                  />
                        </div>
                      </div>
                    
                 
                      <input type="hidden" name="userId" value="<%= userId %>">
                      <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button
                            type="submit"
                             class="button is-block is-primary is-large is-fullwidth"
                          >
                            Actualizar 
                          </button>
                  
                    </form>      
                  </div>
                </div>
              </div>
    </main>

   
<%- include('../includes/end.ejs') %>

