
<%- include("../includes/head.ejs") %>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />
  </head>
  <body>
    <%- include("../includes/navigation.ejs") %>

    
       
    <main>

      <section class="hero  is-fullheight">
        <div class="container has-text-centered mt-5">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Crear una cuenta</h3>
                  
                <div class="box">
                  <% if (errorMessage) { %>
                    <div class="notification is-warning m-auto" style="width: 90;"">
                      <button class="delete"></button>
                      <%= errorMessage %>
                    </div>
                    
                <% } %>
                  <form  action="/signup" method="POST">
                        <div class="field">
                          <div class="control">
                            <input
                              class="input is-medium"
                              type="text"
                              placeholder="Nombre"
                              name="name"
                              id="name"
                             
                            />
                          </div>
                        </div>
                
                      <div class="field">
                        <div class="control">
                          <input
                            class="input is-large"
                            type="email"
                            placeholder="Email"
                            name="email"
                            id="email"
                          
                          />
                        </div>
                      </div>
                      <div class="field">
                        <div class="control">
                          <input
                            class="input is-large"
                            type="password"
                            placeholder="Contraseña"
                            name="password"
                          
                          />
                        </div>
                      </div>
                      <div class="field">
                        <div class="control">
                          <input
                            class="input is-large"
                            type="password"
                            placeholder="Confirmar contraseña"
                            name="confirmPassword"
                            id="confirmPassword"
                            
                          />
                        </div>
                      </div>
                      <div class="field">
                        <div class="control">
                          <label class="checkbox">
                            <input
                              type="checkbox"
                              class="mr-2"
                              name="condiciones"
                              id="condiciones"

                             
                            />
                            <a href="#">
                              He leído y estoy de acuerdo con los términos y condiciones
                            </a>
                          </label>
                        </div>
                      </div>
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button
                          type="submit"
                          class="button is-block is-primary is-large is-fullwidth"
                        >
                          Crear cuenta
                        </button>
                        <div class="field">
                          <div class="control">
                            <label class="content">
                              <a href="#">¿Ya tiene una cuenta? Entrar aquí</a>
                            </label>
                          </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
      </section>
    </main>
<%- include('../includes/end.ejs') %>