
<%- include("../includes/head.ejs") %>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />
  </head>
  <body>
    <%- include("../includes/navigation.ejs") %>

    
       
    <main>

      <div class="container has-text-centered mt-5">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Crear una cuenta</h3>
                  
                <div class="box">
                  <% if (errorMessage) { %>
                    <div class="notification is-warning m-auto" >
                      <button class="delete" onclick="this.parentElement.style.display='none'" ></button>
                      <%= errorMessage %>
                    </div>
                    
                    <% } %>
               
                  <form  action="/signup" method="POST"  novalidate >
                        <div class="field">
                          <div class="control">
                            <input
                              class="input"
                              type="text"
                              placeholder="Nombre"
                              name="name"
                              id="name"
                              value="<%= oldInput.name %>"
                             
                            />
                          </div>
                        </div>
                
                      <div class="field">
                        <div class="control">
                          <input
                           
                            class="<%=  validationErrors.find(e => e.param === 'email') ? 'input  is-danger has-background-grey-light' : 'input ' %>"
                            type="email"
                            placeholder="Email"
                            name="email"
                            id="email"
                            value="<%= oldInput.email %>"
                          
                          />
                        </div>
                      </div>
                      <div class="field">
                        <div class="control">
                          <input
                            class="<%=  validationErrors.find(e => e.param === 'password') ? 'input  is-danger has-background-grey-light' : 'input ' %>"
                            type="password"
                            placeholder="Contraseña"
                            name="password"
                            value="<%= oldInput.password %>"
                          
                          />
                        </div>
                      </div>
                      <div class="field">
                        <div class="control">
                          <input
                            class="<%=  validationErrors.find(e => e.param === 'confirmPassword') ? 'input  is-danger has-background-grey-light' : 'input ' %>"
                            type="password"
                            placeholder="Confirmar contraseña"
                            name="confirmPassword"
                            id="confirmPassword"
                            value="<%= oldInput.confirmPassword %>"
                            
                          />
                        </div>
                      </div>
                      <div class="field">
                        <div class="control">
                          <label class="checkbox">
                            <input
                              type="checkbox"
                              class="mr-2"
                              name="condiciones"
                              id="condiciones"

                             
                            />
                            <a href="#">
                              He leído y estoy de acuerdo con los términos y condiciones
                            </a>
                          </label>
                        </div>
                      </div>
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button
                          type="submit"
                          class="button is-block is-primary is-large is-fullwidth"
                        >
                          Crear cuenta
                        </button>
                        <div class="field">
                          <div class="control">
                            <label class="content">
                              <a href="#">¿Ya tiene una cuenta? Entrar aquí</a>
                            </label>
                          </div>
                        </div>
                    </form>
                    
                </div>
            </div>
      </div>
      
    </main>
<%- include('../includes/end.ejs') %>