

<%- include("../includes/head.ejs") %>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />
  </head>
  <body>
    <%- include("../includes/navigation.ejs") %>
    <main class="container"> 
         <div class="columns mt-4"> 
            <div class="column is-half is-offset-one-quarter "> 
              
              <% if (errorMessage) { %>
                <div class="notification is-warning m-auto" >
                  <button class="delete" onclick="this.parentElement.style.display='none'" ></button>
                  <%= errorMessage %>
                </div>
                
                <% } %>  

              <form  action="/admin/add-product" method="POST" novalidate>
                
                <div class="field">
                  <label class="label"for="nombre">Nombre</label>
                  <div class="control">
                    <input class="<%=  validationErrors.find(e => e.param === 'email') ? 'input  is-danger has-background-grey-light' : 'input ' %>"
                     type="text" 
                     name="title"  
                     id="title"  
                     placeholder="Ingrese el nombre del producto"   
                     value="<%= oldInput.title %>" 
                     required/>
                  </div>
                </div>
                <div class="field">
                  <label class="label"for="productSkuSKU">SKU</label>
                  <div class="control">
                    <input class="<%=  validationErrors.find(e => e.param === 'email') ? 'input  is-danger has-background-grey-light' : 'input ' %>" 
                    type="text" 
                    name="sku"  
                    id="sku"  
                    value="<%= oldInput.sku %>" 
                    required/>
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="imageUrl">Imagen Url</label>
                  <div class="control">
                    <input class="input" type="text" name="imageUrl"  id="imageUrl"  value="<%= oldInput.imageUrl %>" required/>
                  </div>
                </div>
               
                <div class="field">
                  <label class="label" for="price">Precio</label>
                  <div class="control">
                    <input class="input" type="number" name="price"  id="price"  value="<%= oldInput.price %>" required/>
                  </div>
                </div>

                <div class="field">
                  <label class="label" for="category">Categoría</label>
                  <div class="control">
                    <input class="input" type="text" name="category"  id="category"  value="<%= oldInput.category %>" required/>
                  </div>
                </div>
                
                <div class="field">
                  <label class="label" for="subcategory">Subcategoría</label>
                  <div class="control">
                    <input class="input" type="text" name="subcategory"  id="subcategory"  value="<%= oldInput.subcategory %>" required/>
                  </div>
                </div>

                <div class="field">
                  <label class="label" for="description">Descripción</label>
                  <div class="control">
                    <textarea class="input" type="text" name="description"  id="description"  value="<%= oldInput.description %>"/></textarea>
                  </div>
                </div>

                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link" type="submit">Agregar</button>
                  </div>
                  <div class="control">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <a href="/admin/products" class="button is-link is-light" type="submit">Cancelar</a>
                  </div>
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </main>
    
    <%- include("../includes/end.ejs") %>